<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agbebele Thanks - Full Stack Developer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <div class="container">
        <!-- Left Section -->
        <div class="content">
            <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Skills</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
            </nav>
            <h1>Hello! <br> I'm Agbebele Thanks</h1>
            <h2>Full Stack Web Developer</h2>
            <div class="buttons">
                <button class="btn btn-primary">Hire me</button>
                <button class="btn btn-secondary">My works</button>
            </div>
        </div>
        <!-- Right Section (Profile Picture) -->
        <div class="profile-pic">
            <img src="/profile-portfolio/images/img.jpeg" alt="Agbebele Thanks" class="profile-pic">
        </div>
    </div>

    <footer>
        <nav class="social-icon">
            <div class="social-icons">
            <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter">
            <img src="https://cdn-icons-png.flaticon.com/512/3046/3046121.png" alt="TikTok">
            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
            <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram">
            </div>
        </nav>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>